* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    background-image: url("https://static.significados.com.br/foto/nova-bandeira-do-orgulho-lgbt.jpg");
    background-repeat: no-repeat;
}
